# Customize how the app looks/copy

REACT_APP_NAME=Blorp
REACT_APP_DEFAULT_INSTANCE=https://lemm.zip,https://lemmy.world
REACT_APP_LOCK_TO_DEFAULT_INSTANCE=1
REACT_APP_INSTANCE_SELECTION_MODE="default_first"
